<h1 id="Heading">Welcome to image finder!</h1>
<hr id="rule">

<body ng-bind='' ng-controller=' '>
  Enter image name: &nbsp;<input id="seach_field" type="text" name='image_name'
   #search>
   <br><br><button class="search_button" (click)="onGet(search.value)">search
   </button>
   <hr id="rule">
<span></span>&nbsp;&nbsp;
<span></span>&nbsp;&nbsp;
<span></span>&nbsp;&nbsp;
<span></span>&nbsp;&nbsp;
<span></span>&nbsp;&nbsp;
<span></span>&nbsp;&nbsp;
<span></span>&nbsp;&nbsp;
<span></span>&nbsp;&nbsp;
<span></span>&nbsp;&nbsp;
<span></span>&nbsp;&nbsp;

  <br><br>
page:&nbsp;&nbsp;
<button class="page1" (click)="onNext(0)">1
  </button>
  &nbsp;&nbsp;&nbsp;
<button class="page2" (click)="onNext(10)">2
  </button>


</body>
        